*{
    margin:0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: Poppins,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
.card{
    background-color: #fff !important;
    width: 276px !important;
    height: 429px !important;
    border-radius: 12px !important;
}

.card img{
    width: 100% !important;
    height: 210px !important;
    border-radius: 12px 12px 0 0 !important;
}
.card .title{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin:18px 12px;
}
.card .card-details{
    display: flex;
    margin: 18px 12px;

}
.card .price{
    font-weight: bolder;
}
.vert-line{
  border-left:1px solid #C4C4C4;
    height: 20px;
     margin-right: 20px;

}
.card-details p{
    margin-right: 20px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
}
.card-details span{
    font-size: 18px;
    margin-right: 20px;
}
.engage-bar{
    display: flex;
    margin: 20px 12px;
    align-items: center;
    
}
.engage-bar span{
    font-size: 18px;
    margin-right: 30px;
    cursor: pointer;
}
.engage-bar button{
    width: 135px;
    height: 36px;
    border-radius: 12px;
    border : 1px solid #007195;
    color:#007195;
    background-color: transparent;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 21px;
    margin-left: auto;
    cursor: pointer;
}
