*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }
  
  .footer{
      background: #089BC9 !important;
      height: 500px !important;
      width: 100% !important;
      color: #ffffff !important;
      font-family: 'Poppins';
      display: flex;
      flex-wrap: wrap;
  }
  .footer a{
      text-decoration: none;
      color: #FFFFFF;
  }
  .footerDiv{
width: 100%;
height: 90%;
display: flex;
padding-top: 6%;
margin-bottom: 0px;
flex-wrap: wrap;

  }
.navhead,.conthead,.folhead,.Apphead,.TPhead{
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-transform: capitalize;
color: #FFFFFF;
  }
  .navigation{
   font-family: 'Poppins';
   color: #fff;
   padding-right: 5%;
   padding-left: 8%;
  }
  .footnote{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;  
    color: #FFFFFF;
    padding-top: 10px;
    
  }
  .conthead{
    padding-right: 38%;
  }
  .FollowUS{
    display: flex;
    flex-direction: column;
  }
  .socialmedia{
      margin: 16px 0px 16px 0px;
      width: 40%;
      height: 40px;
  }
  .folhead{
    padding-right: 20%;
    /* margin-left: 10%; */
  }
  .contactUs{
 margin-right: 8%;
  }
  .OurApps{
    width: 20%;
    position: relative;
  }
  .OurApps img{
      padding-top: 17.2px;
      width: 70% !important;
      height: 56px;
  }
  .Apphead{
      width: 70%;
      margin-left: 13%;
  }
  .TermsPolicies{
    margin-left: 1px;
  }
  .OurApps img{
      width: 180px;
      height: 56px;
  }
  .copyrght{
font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 18px;
text-transform: capitalize;
color: #FFFFFF;
width: 100%;
height: 16px;
display: flex;
justify-content: center;
  }
.ytb{
    padding-bottom: 20px;
}
